#imageCad {
    width: 100%;
    height: auto;
}
#imageLogo {
    height: 8em;
    width: 8em;
    left: 50%;
    margin-left: -4em;
    position: absolute;
}
#imagePronto {
    height: 9em;
    width: 100%;
}
#imageCAMP {
    margin-left: 2em;
    margin-top: 2em;
    transform: scaleX(-1);
    height: 30.5em;
    width: 45em;
    border-radius: 0.4em;
    box-shadow: -5px 5px 4px 4px rgba(0, 0, 0, 0.3);
}
#imageHOSP1 {
    margin-top: 7em;
    margin-left: 2em;
    position: relative;
    height:  28.125em;
    width: 19em;
    border-radius: 0.4em;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.3);
}
#imageHOSP2 {
    margin-top: 7em;
    margin-left: 6.5em;
    position: relative;
    height:  28.125em;
    width: 19em;
    border-radius: 0.4em;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.3);
}
#imageMAPS{
    border: 0.25em grey solid;
    border-radius: 0.4em;
    margin-left: 2em;
    margin-top: 6.5em;
    height: 26em;
    width: auto;
    position: relative;
}
#iconeUser{
    margin-top: -1.5em;
    padding: 0.5em;
    margin-left: 91.5em;
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
}
#iconeUser:hover{
    background-color: rgb(64, 64, 64);
}
#iconeUser:active{
    background-color: rgb(20, 20, 20);
}
#med1{
    margin-top: 2em;
    left: 50%;
    margin-left: -6em;
    display: inline-block;
    height: 10em;
    width: auto;
    position: absolute;
}
#med2{
    margin-top: 2em;
    left: 50%;
    margin-left: -5em;
    display: inline-block;
    height: 10em;
    width: auto;
    position: absolute;;
}
#med3{
    margin-top: 2em;
    left: 50%;
    margin-left: -5em;
    display: inline-block;
    height: 10em;
    width: auto;
    position: absolute;
}
#siteProtegido{
    width: 140px;
    padding-top: 70px;
    position: absolute;
    right: 25.5em;
}
#quadradobranimg{
    width: 255px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
#quadradobranimg2 {
    width: 40px;
    display: inline-block;
    align-items: center;    
}